<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">nombre</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Correo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="correo">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>

    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="********">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">FechaNacimiento</label>

    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fecha Nacimiento">
  </div>
  <button type="button" class="btn btn-success" (click)="Registro()" >Registro</button>
  <button type="button" class="btn btn-warning" onclick="location.href='http://localhost:4200/Login'">Regreso Login</button>

