<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>

    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="********">
  </div>
  <button type="button" class="btn btn-warning" (click)="Login()">Ingresar</button>
  <button type="button" class="btn btn-success" onclick="location.href='http://localhost:4200/Registro'">Registro</button>

